@font-face {
  font-family: 'DejaVuSerifBook';
  src: url('DejaVuSerif-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 8px;
  font-family: serif;
  font-weight: 400;
}

.navbar {
  width: 11.5em;
}

body.edit-mode .navbar {
  width: 100%
}

div.navbar-inner {
  padding-left: 10px;
  padding-right: 10px;
}

#cpanel {
  margin-top: 3px;
  margin-bottom: 7px;
}

#time-signature {
  width: 3.5em;
  margin-bottom: 0;
}

body .NIY {
  display: none !important;
}

h1 input[type="text"],input[type="text"].chord-text,input[type="text"].song-text {
  font-family: neuton-cursive, serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3em;
  height: 1.3em;
  width: 99%;
  border: none;
  box-shadow: none;
  position: relative;
  background: transparent;
}

input[type="text"].chord-text,#help .modal-body,#share-form .modal-body {
  font-family: 'DejaVuSerifBook', 'DejaVu Serif', 'DejaVu Sans', 'Lucida Sans Unicode',
    'Arial Unicode MS', serif;
  font-weight: 400;
}

input[type="text"].chord-text,input[type="text"].song-text {
  font-size: 24px;
  padding: 6px 0 1px 0;
  line-height: 40px;
  height: 40px;
  margin-bottom: 0;
}

input[type="text"].chord-text {
  width: 98%;
  margin-left: 4px;
  position: static;
}

input[type="text"].song-text {
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  padding: 3px 0 1px 0;
  margin-left: 4px;
  position: relative;
  top: -12px;
  position: relative;
}

div.duration {
  position: absolute;
  top: 1px;
  right: 3px;
  line-height: 10px;
}

.duration a {
  padding: 2px 0 0 0;
  height: 6px;
  font-size: 10px;
  font-family: 'DejaVuSerifBook', 'DejaVu Serif', 'DejaVu Sans', 'Lucida Sans Unicode',
    'Arial Unicode MS', serif;
}

.btn-group.duration>.btn,.btn-group.duration>.dropdown-menu,.btn-group.duration>.popover {
  font-size: 10px;
  line-height: 6px;
}

.btn-group.duration>.btn,.btn-group.duration>.popover,.duration.btn-group.open .btn.dropdown-toggle {
  background: none;
  border: none;
  box-shadow: none;
}

div.duration .dropdown-menu {
  min-width: 50px;
}

div.duration ul>li>a {
  padding-left: 8px;
  height: 12px;
}

#share-url {
  width: 97%;
}

#help .modal-header,#share-form .modal-header {
  font-family: neuton-cursive, serif;
  font-weight: 400;
}

#help .modal-body {
  font-size: 15px;
}

#items {
  padding-left: 0;
}

#items>li {
  list-style-type: none;
  width: 107px;
  height: 46px;
  float: left;
  cursor: default;
  display: block;
  padding: 2px 3px 2px 18px;
  margin: 0 4px 16px 0;
  position: relative;
  border: 1px solid gray;
  border-radius: 4px;
  background: #ffffff;
}

#items.has-text>li {
  height: 66px;
}

#items>li i.icon-double-angle-down {
  display: none;
}

body.edit-mode #items>li i.icon-double-angle-down {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
}

#items.has-text>li i.icon-double-angle-down {
  display: none;
}

select.equivalent {
  font-weight: bold;
}

#items>li.ui-selecting {
  background: #FECA40;
}

#items>li.ui-selected {
  background: #F39814;
}

body li .handle {
  display: none;
}

body.edit-mode #items>li .handle {
  background: #f8f8f8;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 2px;
  font-size: 12px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: move;
  display: block;
}

li i {
  color: #666666;
}

li .handle .icon-pushpin {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2px;
  cursor: default;
}

li.ui-selected .handle .icon-pushpin {
  color: #F39814;
}

#tools #help-btn {
  margin-left: 11px;
}

#tools span.btn-group {
  display: none;
}

#tools span.always-visible {
  display: inline-block;
}

body.edit-mode #tools span.btn-group {
  display: inline-block;
}

#footer {
  float: none;
  font-size: 12px;
  position: absolute;
  bottom: 4px;
  right: 4px;
  z-index: -1;
}

@media print {
  #footer {
    font-family: 'DejaVuSerifBook', 'DejaVu Serif', 'DejaVu Sans', 'Lucida Sans Unicode',
      'Arial Unicode MS', serif;
    float: right;
    clear: both;
    font-size: 14px;
    position: relative;
    bottom: 0;
    right: 0;
    padding-top: 2em;
  }
  #footer a[href]:after {
    content: "";
  }
  .hide-in-print,.navbar {
    display: none;
  }
}